input:checked ~ label {
    text-decoration: line-through;
    color: #ccc;
}
.input-edit,
.button-edit {
    display: none;
}

.todo-list {
    width: 60%;
    margin: 0px auto;
    clear: both;
}
.input-add {
    padding: 10px;
    border: none;
    background: #fff;
    box-shadow:  0 -2px 1px rgba(0,0,0,0.03);
    width: 100%;
}
.active {
    border: 1px solid #ccc !important;
    border-radius: 3px;
    outline: none;
    

}
.action button {
    border: none;
    background: none;
    float: left;
    padding: 5px 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
}
.clear-completed {
    float: right;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
.clear-completed:hover {
    text-decoration: underline;
   
}
.check-all {
    float: left;
    clear: both;
}
.main-todolist {
    width: 70%;
    margin: 0px auto;
}
.button-delete {
    float:  right;
    color: teal;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox  + label {
      position: relative;
      cursor: pointer;
}

.styled-checkbox  + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.styled-checkbox:hover + label:before {
    background: #f35429;
}


.styled-checkbox:checked + label:before {
    background: #f35429;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
    2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
    transform: rotate(45deg);
}

  
.input-edit {
    border: none;
    background: no-repeat;
    outline: none;
}
.label-checkall {
    margin: 10px;
    display: block
}
.item-left {
    float: left;
    font-size: 12px;
    margin-top: 23px;
    margin-right: 30px
}
.clear-completed {
    cursor: pointer;
}
.clear-completed:hover {
    text-decoration: underline;
}
